<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umm.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.umm.app.main_menu"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.umm.app.login_menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.umm.app.user_credentials"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.umm.app.LeaderboardMenu"
            android:label="@string/title_activity_leaderboard_menu" >
        </activity>
        <activity
            android:name="com.example.umm.app.LeaderboardPage"
            android:label="@string/title_activity_leaderboard_page" >
        </activity>
        <activity
            android:name="com.example.umm.app.Challenge"
            android:label="@string/title_activity_challenge" >
        </activity>
        <activity
            android:name="com.example.umm.app.practice"
            android:label="UMM-App" >
        </activity>
        <activity
            android:name="com.example.umm.app.settings"
            android:label="UMM-App" >
        </activity>
        <activity
            android:name="com.example.umm.app.game"
            android:label="Game" >
        </activity>
        <activity
            android:name="com.example.umm.app.sound"
            android:label="@string/title_activity_sound" >
        </activity>
        <activity
            android:name="com.example.umm.app.ChangePassword"
            android:label="@string/title_activity_change_password" >
        </activity>
    </application>

</manifest>
